In [1]:
for num in range(0, 20):
    print(num)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19

In [2]:
for num in range(10, 20):
    print(num, end=' ' )

10 11 12 13 14 15 16 17 18 19

In [3]:
list2 = [10,20,14,55,43,87,76]
leng = len(list2)
print("Total number of List2 is : ", leng)

Total number of List2 is :  7

In [4]:
list3 = 'Artificial Intelligence'
print("Artificial Intelligence")
for AI in list3:
    print(AI)

Artificial Intelligence
A
r
t
i
f
i
c
i
a
l

I
n
t
e
l
l
i
g
e
n
c
e

In [5]:
(input("-Your name - "))
int (input("-Your age - "))
(input("-Your Profession - "))

-Your name - sa
-Your age - 20
-Your Profession - se

'se'

In [6]:
Tuple1 =(1, 'Welcome', 2, 'Hope')
print(Tuple1)

(1, 'Welcome', 2, 'Hope')

In [7]:
Tuple2 =(0, 1, 2, 3) 
Tuple3 =('python', 'HOPE')
Tuple4 =(Tuple2, Tuple3)
print(Tuple4)

((0, 1, 2, 3), ('python', 'HOPE'))

In [8]:
list5=(20,10,16,19,25,1,276,188)
for i in list5:
    if i % 2 ==1:
        print(i, ":Odd number")

19 :Odd number
25 :Odd number
1 :Odd number

In [9]:
list5=(20,10,16,19,25,1,276,188)
for i in list5:
    if i % 2 ==0:
        print(i, ":Even number")

20 :Even number
10 :Even number
16 :Even number
276 :Even number
188 :Even number